:root {
  --_colors---color: #000;
  --_colors---white: white;
  --_fonts---rbno1: "Rbno 31", Arial, sans-serif;
  --_fonts---proxima: Proximanova, Arial, sans-serif;
  --_colors---red: #c8202f;
  --_colors---dove: #f5f6f6;
  --_fonts---font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

a {
  color: var(--_colors---color);
  text-decoration: none;
}

._00homeouter {
  justify-content: center;
  align-items: flex-start;
  min-height: 65svw;
  display: flex;
  position: relative;
}

._00homeimagewrap {
  object-fit: cover;
  width: 100%;
  height: 1100%;
  position: static;
  inset: 0%;
}

._00homeheroimage {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

._00homesidepanel {
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: absolute;
  inset: 0%;
}

.grid {
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  width: 30%;
  min-width: 500px;
  min-height: 350px;
}

._00titleblock {
  background-color: var(--_colors---white);
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 450px;
  padding-left: 5%;
  padding-right: 15%;
  display: flex;
  position: relative;
}

._00hometopmain {
  font-family: var(--_fonts---rbno1);
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.1rem;
}

._00homemainleft {
  flex-flow: column;
  justify-content: center;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
}

.text-block-2 {
  font-family: var(--_fonts---proxima);
  font-size: 1.5rem;
  line-height: 1.8rem;
}

._00mainbuttontext {
  font-family: var(--_fonts---rbno1);
  justify-content: flex-start;
  align-items: center;
  margin-right: 5px;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.9rem;
  text-decoration: none;
  display: flex;
}

._00mainarrowlink {
  justify-content: flex-start;
  align-self: flex-start;
  align-items: center;
  margin-top: 19px;
  margin-bottom: 19px;
  display: flex;
}

.link-block {
  cursor: pointer;
  margin-top: 16px;
  display: flex;
}

.code-embed {
  width: 40px;
  height: 45px;
}

._01homewrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin: 39px auto;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
}

._00homemain2wrap {
  grid-column-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  margin: 55px auto;
}

._01maincardwrap {
  text-align: center;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
}

._01mainlinkbottom {
  align-self: flex-start;
}

._01maingameimage2 {
  object-fit: cover;
  overflow: hidden;
}

.quadimagewrap {
  overflow: hidden;
}

.iconwrap {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
  max-height: 200px;
  display: flex;
}

._00shippingtext {
  font-family: var(--_fonts---proxima);
  text-align: center;
  margin: 22px 2px;
}

._01mainreturnwrap {
  border: 1px solid #0006;
  padding: 20px;
}

._00rbmedium {
  font-family: var(--_fonts---rbno1);
  font-size: 2rem;
  line-height: 2.5rem;
}

._00mainquads, .quadwrap {
  margin-left: auto;
  margin-right: auto;
}

.qaudgrid {
  grid-column-gap: 16px;
  grid-template-rows: auto;
}

._00quadcenter {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  display: flex;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.quadtextwrap {
  font-family: var(--_fonts---rbno1);
  text-transform: uppercase;
  font-size: 2.6rem;
  line-height: 2.8rem;
}

._00ltextwrapper {
  max-width: 400px;
}

._00buttonwrapper {
  margin-top: 24px;
}

._00buttonred {
  background-color: var(--_colors---red);
  font-family: var(--_fonts---rbno1);
  letter-spacing: 2px;
  padding: 18px 44px;
  font-weight: 700;
}

._00greybase {
  background-color: var(--_colors---white);
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

._00margins {
  background-color: var(--_colors---dove);
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 60svh;
  margin-top: 53px;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  display: flex;
  position: relative;
}

.grid-2 {
  grid-template-rows: auto;
  align-self: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.greyimagewrap {
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.greyimagewrap.left {
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 104px;
}

.greyimagewrap.up {
  justify-content: center;
  align-items: flex-start;
  margin-top: -87px;
}

.heading {
  font-family: var(--_fonts---rbno1);
}

.greytextwrap {
  margin-bottom: 35px;
}

._00leftcorner {
  padding-bottom: 3%;
  padding-left: 3%;
  position: absolute;
  inset: auto auto 0% 0%;
}

._00leftcorner.up {
  inset: 3% 3% auto auto;
}

.heading-2 {
  font-family: var(--_fonts---rbno1);
  color: var(--_colors---white);
}

.textwhitebottom {
  font-family: var(--_fonts---proxima);
  color: var(--_colors---white);
  font-size: 1rem;
  font-weight: 700;
}

.image-2 {
  position: relative;
}

.link {
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  ._00titleblock {
    min-width: 300px;
  }

  ._00hometopmain {
    font-size: 3rem;
  }

  ._00homemain2wrap {
    grid-template-columns: 1fr 1fr;
  }

  .quadimagewrap {
    min-height: auto;
  }

  ._01mainreturnwrap {
    width: 100%;
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  ._00homeouter {
    min-height: 90svh;
  }

  ._00homeimagewrap {
    min-height: auto;
  }

  ._00homesidepanel {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 0;
    inset: auto 0% 0%;
  }

  .grid {
    min-height: auto;
  }

  .qaudgrid, .grid-2.up {
    grid-template-columns: 1fr;
  }

  .greyimagewrap.up {
    margin-top: 0;
  }
}

@media screen and (max-width: 479px) {
  ._00homeouter {
    min-height: 75svh;
  }

  ._00homeheroimage {
    height: auto;
    min-height: 300px;
  }

  ._00homesidepanel {
    margin-top: 123px;
  }

  ._00titleblock {
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
  }

  ._00homemain2wrap {
    grid-template-columns: 1fr;
  }

  .greyimagewrap.left {
    margin-top: 0;
  }
}

#w-node-ae879764-5cb8-68e9-dfbb-88e551551014-62e766e8 {
  justify-self: end;
}

#w-node-_5a6972ad-1567-1399-5d8f-94368d9aff0d-62e766e8, #w-node-_06d7765e-0e93-0628-c2d7-342fc693b47e-62e766e8, #w-node-_10acb736-7666-53ce-6b42-a021a20a88f9-62e766e8, #w-node-_94df75e0-e369-dac1-f72e-117cc275823a-62e766e8, #w-node-aa9aa00f-b033-7bd6-7d27-4a4b6eac5d32-62e766e8, #w-node-dd093a3e-4d92-1730-f2a4-c8293a722870-62e766e8, #w-node-_56194125-5e92-865c-482c-1ccf6ac87007-62e766e8, #w-node-_138d7734-e9b7-2420-1c05-2c6c0d1c44ce-62e766e8, #w-node-_138d7734-e9b7-2420-1c05-2c6c0d1c44c4-62e766e8 {
  place-self: center;
}


@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-RegularIt.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.eot') format('embedded-opentype'), url('../fonts/ProximaNova-RegularIt.woff') format('woff'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proximanova';
  src: url('../fonts/ProximaNova-Semibold.woff2') format('woff2'), url('../fonts/ProximaNova-SemiboldIt.woff2') format('woff2'), url('../fonts/ProximaNova-SemiboldIt.eot') format('embedded-opentype'), url('../fonts/ProximaNova-Semibold.eot') format('embedded-opentype'), url('../fonts/ProximaNova-SemiboldIt.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Black.ttf') format('truetype'), url('../fonts/RBNo31-Black.ttf') format('truetype'), url('../fonts/RBNo31-Black.svg') format('svg'), url('../fonts/RBNo31-Black.svg') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31';
  src: url('../fonts/RBNo31-Bold.ttf') format('truetype'), url('../fonts/RBNo31-Bold.svg') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rbno 31 Ultra';
  src: url('../fonts/RBNo31-Ultra.ttf') format('truetype'), url('../fonts/RBNo31-Ultra.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}